
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Reservation </title>
	<link rel="shortcut icon" href="/public/images/f.png"></link>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="/public/css/bootstrap.min.css" rel="stylesheet" ></link>
	<link href="/public/css/bootstrap.css" rel="stylesheet" ></link>
	<link href="/public/css/Default.css" rel="stylesheet" >	</link>
	<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" ></link>
	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script>
		$(document).ready(function()
		{
			//alert($(window).width());
			var x=(($(window).width())-1024)/2;
			//alert(x);
			$('.wrap').css("left",x+"px");
		});

	</script>
	
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/man.js"></script>
	
	
</head>
<body style="background-image: url(/public/images/backg.jpg);">

		</div>
		
		<!-- Navigation bar -->
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container" >
				<a class="brand" href="/index" >HOME</a>
				<a class="brand" href="/train" >FIND TRAIN</a>
				<a class="brand" href="/reservation">RESERVATION</a>
				<a class="brand" href="/profile">PROFILE</a>
				<a class="brand" href="/display">BOOKING HISTORY</a>
				</div>
			</div>
		</div>
		
		<div class="span12 well">
		
		
		<div class="display" style="margin-top:0px;height:30px;">
		
		
		
		
		<form method="get" action="/booking">
				
				<table class="table" style="border-style:ridge;">
				<col width="99">
				<col width="50">
				<col width="50">
				<col width="80">
				<col width="80">
				<col width="70">
				<col width="70">
				<col width="70">
				<col width="70">
				<col width="70">
				<col width="90">
				<tr>
					<th style="border-top:0px;">Journey date:</th>
					<th style="border-top:0px;"> Train No./Name:</th>
					<th style="border-top:0px;">From Station:</th>
					<th style="border-top:0px;">To Station:</th>
					<th style="border-top:0px;">Quota:</th>
					<th style="border-top:0px;"> 1A</th>
					<th style="border-top:0px;"> 2A </th>
					<th style="border-top:0px;"> 3A </th>
					<th style="border-top:0px;"> SL </th>
				</tr>
				<tr>
					<td style="border-top:0px;"> </td>
					<input name="doj" style="display:none;" type="text" value="" aria-label="new">
					<input name="dob" style="display:none;" type="text" value="" aria-label="new">
					<td style="border-top:0px;"> </td>
					<input name="tno" style="display:none;" type="text" value="" aria-label="new"> </td>
					
					<td style="border-top:0px;"></td>
					<input name="fromstn" style="display:none;" type="text" value="" aria-label="new"> </td>
					
					<td style="border-top:0px;"></td>
					<input name="tostn" style="display:none;" type="text" value="" aria-label="new"> </td>
		
					<td style="border-top:0px;"></td>
					<input name="quota" style="display:none;" type="text" value="" aria-label="new"> </td>
		
					<td style="border-top:0px;"> <input type="radio" name="selct" value="1A" onclick="return false;" aria-label="new"> </td>
					
					<td style="border-top:0px;"> <input type="radio" name="selct" value="2A" onclick="return false;" aria-label="new"> </td>
					
					<td style="border-top:0px;"> <input type="radio" name="selct" value="3A" onclick="return false;" aria-label="new"> </td>
					
					<td style="border-top:0px;"> <input type="radio" name="selct" value="SL" onclick="return false;" aria-label="new"> </td>
				</tr>
				</table>
				
		</div>
		<div class="display" style="height:50px;">
				
		</div>
		<br /><br />
		<div class="display" style="margin-top:0px;height:415px;">
		<h2><font color="tomato">Fill Passenger Details</font></h2>
			
			<table class="table">
				<tr>
					<th style="width:100px;border-top:0px;">SNo.</th>
					<th style="width:200px;border-top:0px;"> Name</th>
					<th style="width:100px;border-top:0px;"> Age </th>
					<th style="width:100px;border-top:0px;"> Sex </th>
				</tr>
				<tr>
					<td > 1</td>
					<td ><input type="text" name="name1" aria-label="new" ></td>
					<td ><input type="text" name="age1" class="input-small" aria-label="new"></td>
					<td ><select name="sex1" class="input-small" aria-label="new">
						<option value="male">MALE</option>
						<option value="female">FEMALE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td > 2</td>
					<td ><input type="text" name="name2" aria-label="new"></td>
					<td ><input type="text" name="age2" class="input-small" aria-label="new"></td>
					<td ><select name="sex2" class="input-small" aria-label="new">
						<option value="male">MALE</option>
						<option value="female">FEMALE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td > 3</td>
					<td ><input type="text" name="name3" aria-label="new" ></td>
					<td ><input type="text" name="age3" class="input-small" aria-label="new"></td>
					<td ><select name="sex3" class="input-small" aria-label="new">
						<option value="male">MALE</option>
						<option value="female">FEMALE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td > 4</td>
					<td ><input type="text" name="name4" aria-label="new" ></td>
					<td ><input type="text" name="age4" class="input-small" aria-label="new"></td>
					<td ><select name="sex4" class="input-small" aria-label="new">
						<option value="male">MALE</option>
						<option value="female">FEMALE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td > 5</td>
					<td ><input type="text" name="name5" aria-label="new"></td>
					<td ><input type="text" name="age5" class="input-small" aria-label="new"></td>
					<td ><select name="sex5" class="input-small" aria-label="new">
						<option value="male">MALE</option>
						<option value="female">FEMALE</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td style="border-top:0px;"><input class="btn btn-info"type="submit" value="Submit" id="subb" aria-label="new" ></td>
					<td style="border-top:0px;"><input class="btn btn-info" type="reset" value="Reset" aria-label="new"></td>
				</tr>	
				
			</table>
			</form>
		</div>
		<div>
		<br/>
		<p> <font color="red"> CHILDREN BELOW 5 YEAR (FOR WHOM TICKET IS NOT REQUIRED). </font> </p>
		</div>
		</div>
<footer >
		<div style="width:100%;">
			<div style="float:left;">
			<p class="text-right text-info">  &copy;all copyright reserved</p>	
			</div>
		</div>
</footer>		
	</div>
</body>
</html>